<div class="container"> 
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <label>Name</label>
        <div class="fs-18">
          {{employeeName}}
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <label>Mobile</label>
        <div class="fs-18">
          {{employeeMobile}}
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <label>Email</label>
        <div class="fs-18">
          {{employeeEmail}}
        </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <label>Address</label>
        <div class="fs-18">
          {{employeeAddress}}
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <label>Salary</label>
        <div class="fs-18">
          {{employeeSalary}}
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <label>Domain</label>
        <div class="fs-18">
          {{employeeDomain}}
        </div>
    </div>
  </div>
</div>